{% extends "home/base.html" %}
{% block content %}
<div class="container mt-0">
    <!-- Intro JUMBOTRON -->
    <div id="jumbo1" class="jumbotron border border-secondary">
        <h1 class="display-4 text-center">HTML Test Prep</h1>
        <hr>
        <p class="lead mt-4 text-center">The Internet's Best Source for Free, Quality Test Prep Material.</p>
        <p class="lead mt-4 mb-0 text-center">
            <a id="start" class="btn btn-outline-success btn-lg" href="#" role="button">Get Started</a>
        </p>
    </div>

    <div id="page2" class="container mb-5">
        <!-- JUMBOTRON 2-->
        <div class="jumbotron border border-secondary">
            <h1 class="display-4">Study for Free.</h1>
            <hr>
            <p class="lead mt-4">We are dedicated to providing quality test-prep practice materials at zero cost to you.</p>
            <p class="lead">Sign up now to start learning.</p>
            <!-- Button trigger modal -->
            <a class="btn btn-outline-info btn-lg" href="{% url 'register' %}" role="button">Sign Up</a>
        </div>

        <!-- CARDs -->
        <div class="row mt-5">
            <div class="col-md d-flex">
                <div class="card mb-4 border border-secondary test">
                    <div class="card-body text-center">
                        <h5 class="card-title">SAT</h5>
                        <p class="card-text">Refine your skills with over 100 multiple choice practice questions, or take a mock test. Topics include Reading and Math.</p>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex">
                <div class="card mb-4 border border-secondary test">
                    <div class="card-body text-center">
                        <h5 class="card-title">ACT</h5>
                        <p class="card-text">Get immediate feedback on practice questions, or take a mock exam. Topics include Math, Reading, Science, and English.</p>                                   
                    </div>
                </div>
            </div>
            <div class="col-md d-flex">
                <div class="card mb-4 border border-secondary test">
                    <div class="card-body text-center">
                        <h5 class="card-title">GRE</h5>
                        <p class="card-text">Brush up for test day with a practice test, or individual questions. Topics include Verbal and Quantitative reasoning.</p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Bottom Row -->
        <div class="row mt-sm-4 mt-md-mb-5 bg-light pt-4 border border-secondary rounded">
            <div class="col-sm-12 col-md-8 text-sm-center text-md-left">
                <h3 id="title">About Us</h3>
                <p id="text" class="lead">I just wanna help out</p>
            </div>

            <!-- Secondary Menu Pills -->
            <div class="col-sm-12 col-md-4 pb-4">
                <h3 class="mb-3">Information</h3>
        
                <ul class="nav flex-column nav-pills">
                    <li class="nav-item">
                        <a id="about" class="nav-link pill active" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a id="links" class="nav-link pill" href="#">Links</a>
                    </li>
                    <li class="nav-item">
                        <a id="contact" class="nav-link pill" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a id="legal" class="nav-link pill" href="#">Legal</a>
                    </li>
                </ul>
            </div> 
        </div> 
    </div>
</div>

{% endblock content %}