{% extends "users/nav_base.html" %}
{% block content %}
<div class="container mt-0">
    <div id="jumbo2" class="jumbotron border border-secondary pt-5 pb-5">
        <article class="media content-section">
            <div class="media-body ml-3">
                <div class="container text-center">
                    <img class="article-image mx-auto mb-3" src='{{ question.image.url }}'>
                </div>
                <div>
                <p class="lead article-content pb-2">{{ question.prompt }}</p>
                    {% for choice in question.choices.all %}
                        {% if choice.correct == True %}
                            {% if forloop.counter == question.userAnswer %}
                            <input class="correct" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" checked="checked">
                            <label class="mb-3 ml-2 mr-2" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><i class="fas fa-check ml-1 correct"></i><br>
                            {% else %}
                            <input class="correct" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" disabled='disabled'>
                            <label class="mb-3 ml-2 mr-2" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><i class="fas fa-check ml-1 correct"></i><br>
                            {% endif %}
                        {% else %}
                            {% if forloop.counter == question.userAnswer %}
                            <input class="wrong" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" checked="checked">
                            <label class="mb-3 ml-2 mr-2" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><i class="fas fa-times ml-1 wrong"></i><br>
                            {% else %}
                            <input class="wrong" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" disabled='disabled'>
                            <label class="mb-3 ml-2 mr-2" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <div class="container pl-0 pt-3">
                        {% if question.copyId != user.profile.questions_answered.first.copyId %}
                            <a id="lastPageButton" class="btn btn-primary" href="{% url 'question-review' user.username lastQuestion %}" role="button"><</a>
                        {% endif %}

                        <a id="retryButton" class="btn btn-primary mx-auto" href="{% url 'question-detail' question.test_type question.originalOrderId %}" role="button">Retry Question</a>
                        
                        {% if question.copyId != user.profile.questions_answered.last.copyId %}
                            <a id="nextPageButton" class="btn btn-primary" href="{% url 'question-review' user.username nextQuestion %}" role="button">></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
{% endblock content %}