{% extends "home/base.html" %}
{% block content %}
<!-- Startpage -->
<div class="container mt-0">

    <!-- Intro Jumbotron -->
    <div id="jumbo1" class="jumbotron border border-info">

        <!-- Site Title and Tagline -->
        <h1 class="display-4 text-center">Whiteboard Test Prep</h1>
        <hr>
        <p class="lead mt-4 text-center">The Internet's Best Source for Free, Quality Test Prep Material.</p>
        <p class="lead mt-4 mb-0 text-center">
            <a id="start" class="btn btn-outline-success btn-lg" href="#" role="button">Get Started</a>
        </p>
    </div>
    <!--/ Intro Jumbotron -->

    <!-- Page 2 -->
    <div class="container mt-0">
        <div id="page2" class="container mb-5">

            <!-- Heading Jumbotron -->
            <div class="row mt-sm-4 mt-md-mb-5">
                <div class="jumbotron border border-info w-100 mb-0">
                    <h1 class="display-4">Study for Free.</h1>
                    <hr>
                    <p class="lead mt-2">We are dedicated to providing quality test-prep practice materials at zero cost to you.</p>
                    <p class="lead">Sign up now to start learning.</p>
                    <a class="btn btn-outline-info btn-lg" href="{% url 'register' %}" role="button">Sign Up</a>
                </div>
            </div>
            <!--/ Heading Jumbotron -->

            <!-- Test Info Cardss -->
            <div class="row mt-5">
                <div class="col-md d-flex">
                    <div class="card mb-4 border border-info test">
                        <div class="card-body text-center">
                            <h5 class="card-title">SAT</h5>
                            <p class="card-text">Refine your skills with over 100 multiple choice practice questions, or take a mock test. Topics include Reading and Math.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex">
                    <div class="card mb-4 border border-info test">
                        <div class="card-body text-center">
                            <h5 class="card-title">ACT</h5>
                            <p class="card-text">Get immediate feedback on practice questions, or take a mock exam. Topics include Math, Reading, Science, and English.</p>                                   
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex">
                    <div class="card mb-4 border border-info test">
                        <div class="card-body text-center">
                            <h5 class="card-title">GRE</h5>
                            <p class="card-text">Brush up for test day with a practice test, or individual questions. Topics include Verbal and Quantitative reasoning.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Test Info Cards -->


            <!-- Bottom Row -->
            <div id="aboutBox" class="row mt-sm-4 mt-md-mb-5 pt-4 pl-2 border border-info rounded">
                <div class="col-sm-12 col-md-8 text-sm-center text-md-left">
                    <h3 id="title">About Us</h3>
                    <p id="text" class="lead">We are a small group of passionate educators and programmers, dedicating our time and effort towards providing quality tools to help students all over the country.</p>
                </div>

                <!-- Info Menu -->
                <div class="col-sm-12 col-md-4 pb-4">
                    <h3 class="mb-3">Information</h3>
            
                    <!-- Info Pills -->
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a id="about" class="nav-link customPill current waves-effect waves-light" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a id="links" class="nav-link customPill waves-effect waves-light" href="#">Links</a>
                        </li>
                        <li class="nav-item">
                            <a id="contact" class="nav-link customPill waves-effect waves-light" href="#">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a id="legal" class="nav-link customPill waves-effect waves-light" href="#">Legal</a>
                        </li>
                    </ul>
                    <!--/ Info Pills -->

                </div> 
                <!--/ Info Menu -->
                
            </div> 
            <!--/ Bottom Row -->

        </div>
    </div>
    <!--/ Page 2 -->

</div>
<!--/ Startpage -->

{% endblock content %}