{% extends "home/nav_base.html" %}
{% block content %}
<div class="container-fluid">

    <!-- Stats Jumbotron -->
    <div class="jumbotron border border-secondary pt-4">
        <div class="content-section">

            <!-- Heading -->
            <div class="media pt-1 pb-2">
                <div class="media-body ml-2">
                    <h2>{{ user.username }}'s Progress</h2>
                    <p class="text-secondary mt-3 mb-2">
                        Use and interact with the detailed data displayed here to see in exactly which areas you thrive as a student, 
                        and where you could use some improvement. We use Machine Learning to generate study recommendations to help
                        you progress even faster than typically possible.
                    </p>
                </div>
            </div>
            <!--/ Heading -->

            <!-- Filter By Test Section -->
            <h4 class="mt-3 ml-1">Filter by Test</h4>
            <div class="pt-2 pb-2">

                <!-- Filter tabs -->
                <ul class="nav nav-tabs">
                    {% for test,subjects in test_dict.items %}
                        {% if test == test_type %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'stats' test subjects.0 %}">{{ test }}</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'stats' test subjects.0 %}">{{ test }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <!-- Stat JSON Scripts -->
                {{ by_test|json_script:"by_test" }}
                {{ by_subject|json_script:"by_subject" }}
                {{ question_info|json_script:"question_info" }}

                <!-- Stat Graphics -->
                <div class="content-section d-none d-lg-block pt-2 pl-3 pr-3">
                    <div class="row pt-1">
                        <div class="col-md-6 col-lg-4" id="my-widget" data-view-mode="tabular">
                            <h6>Answer Accuracy</h6>
                            <canvas id="accuracyPieChart"></canvas>
                        </div>
                        <div class="col-md-6 col-lg-4" id="my-widget" data-view-mode="tabular">
                            <h6>Accuracy Over Time (Improvement)</h6>
                            <canvas id="improvement"></canvas>
                        </div>
                        <div class="col-md-auto col-lg-4" id="my-widget" data-view-mode="tabular">
                            <h6>Recommended Study Habits</h6>
                            <canvas id="recommendationsBar"></canvas>
                        </div>
                    </div>
                </div>
                <!--/ Stat Graphics -->

            </div>
            <!--/ Filter By Test Section -->



            <!-- Filter By Subject Section -->
            <h4 class="mt-5 ml-1">Filter by Subject</h4>
            <div class="pt-2 pb-2">

                <!-- Filter Tabs -->
                <ul class="nav nav-tabs">
                    {% for s in all_subjects %}
                        {% if s == subject %}
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'stats' test_type s %}">{{ s }}</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'stats' test_type s %}">{{ s }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <!--/ Filter Tabs -->

                <!-- Stat Graphics -->
                <div class="content-section d-none d-lg-block pt-2 pl-3 pr-3">
                    <div class="row pt-1">
                        <div class="col-md-6 col-lg-4" id="my-widget" data-view-mode="tabular">
                            <h6>Answer Accuracy</h6>
                            <canvas id="subjectAccuracyPie"></canvas>
                        </div>
                        <div class="col-md-6 col-lg-4" id="my-widget" data-view-mode="tabular">
                            <h6>Accuracy Over Time</h6>
                            <canvas id="subjectImprovement"></canvas>
                        </div>
                        <div class="col-md-6 col-lg-4" id="my-widget" data-view-mode="tabular">
                            <h6>Subject Distribution</h6>
                            <canvas id="subjectDistroBarChart"></canvas>
                        </div>
                    </div>
                </div>
                <!--/ Stat Graphics -->

            </div>
            <!--/ Filter By Subject Section -->

        </div>
    </div>
    <!--/ Stats Jumbotron -->

</div>
{% endblock content %}