{% extends "home/nav_base.html" %}
{% block content %}
<div class="container-fluid">

    <!-- Study Jumbotron -->
    <div class="jumbotron border border-secondary pt-4 pb-1">
        <div class="content-section">

            <!-- Heading -->
            <div class="media pt-1 pb-2">
                <div class="media-body ml-2">
                    <h2 class="mb-3">Human Learning through Machine Learning</h2>
                    <p class="mb-2">Every time you answer a
                        question on our site, you are feeding in to a personal history of answers that we funnel into our statistical learning models, 
                        to provide you feedback on your test taking. We use this history to show you which categories you excel in, and which you can
                        improve upon. We also keep track of your progress over time, allowing you to visualize your improvement.
                    </p>
                </div>
            </div>

            <!-- Filter by Test Section -->
            <div class="pt-2 pb-2">

                <!-- Tabs -->
                <ul class="nav nav-tabs">
                    {% for test in All_Tests %}
                        {% if test_type == test %}
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'study' test %}">{{ test }}</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'study' test %}">{{ test }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <!--/ Tabs -->

                <!-- Test Description -->
                <div class="media pl-3 pt-4 pb-4">
                    <div class="media-body">
                        <h3 class="pb-2">{{ test.test_type }}</h3>
                        <p class="mb-2">{{ test.blurb_1 }}</p>    
                        <p class="mb-2">{{ test.blurb_2 }}</p>
                        <a class="text-secondary mb-2" href="{{ test.link }}" target="_blank"><u>More Information</u></a>
                    </div>
                </div>
                <!--/ Test Description -->

                <!-- Study Cards -->
                <div class="row mt-3">

                    <!-- Quiz Card -->
                    <div class="col-md d-flex">
                        <div class="card mb-4 border border-secondary test"  style="transform: rotate(0);">
                            {% if lastQuestionId == lastPossibleQuestionId %}
                            <a href="{% url 'profile' test_type %}" class="stretched-link">
                            {% else %}
                            <a href="{% url 'question-detail' test_type newQuestionId %}" class="stretched-link">
                            {% endif %}
                                <div class="card-body text-center">
                                    <h5 class="card-title">Quiz Questions</h5>
                                    <p class="card-text">Get instant feedback after answering multiple-choice questions. Filter by subject, or answer in random order.</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- Practice Test Card -->
                    <div class="col-md d-flex">
                        <div class="card mb-4 border border-secondary test" style="transform: rotate(0);">
                            <a href="" class=stretched-link">
                                <div class="card-body text-center" >
                                    <h5 class="card-title">Practice Test</h5>
                                    {% if test_type == 'SAT' %}
                                        <p class="card-text">Take a 20-question practice test on either Reading or Mathematics, with the option of being timed.</p>                                
                                    {% elif test_type == 'ACT' %}
                                        <p class="card-text">Take a 20-question practice test on English, Math, Reading, or Science, with the option of being timed.</p>                               
                                    {% else %}
                                        <p class="card-text">Take a 20-question practice test on either Verbal or Quantitative Reasoning, with the option of being timed.</p>                              
                                    {% endif %}
                                </div>
                            </a>   
                        </div>
                    </div>

                    <!-- Stat Card -->
                    <div class="col-md d-flex">
                        <div class="card mb-4 border border-secondary test" style="transform: rotate(0);">
                            <a href="{% url 'stats' test_type 'ALL' %}" class=stretched-link">
                                <div class="card-body text-center" >
                                    <h5 class="card-title">Question History/Feedback</h5>
                                    <p class="card-text">Review questions you've answered in the past. View profile statistics and recommendations.</p>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
                <!--/ Study Cards -->

            </div>
            <!--/ Filter By Test Section -->

        </div>
    </div>
    <!--/ Study Jumbotron -->
    
</div>
{% endblock content %}