{% extends "users/user_base.html" %}
{% block content %}
<div class="container mt-0">
    <div id="profileJumbotron" class="jumbotron border border-secondary pb-0 pt-2">
        <div class="content-section">
            <div class="media pt-3 pb-2">
                <img class="rounded-circle account-img pl-3 pr-3 pt-2 pb-1" src="{{ user.profile.image.url }}">
                <div class="media-body ml-2">
                    <h2 class="account-heading pt-1">{{ user.username }}</h2>
                    <p class="text-secondary mb-2">{{ user.email }}</p>
                    <a class="text-secondary mb-0" href="{% url 'profile-update' %}"><i class="fas fa-cog mr-1"></i>Settings</a>
                </div>
            </div>
        </div>

        <div class="container" id="postHistory">
            <!-- Post History -->
            <legend class="border-bottom pb-2 mt-2 mb-0">Recently Answered Questions</legend>
            {% if questions %}
                <!-- Text Type NAVBAR -->
                <nav class="navbar navbar-expand-lg border-bottom mb-3 pt-0 pl-0 pb-0">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="navbar-nav mr-auto">
                            <a class="nav-item nav-link testButton pl-3 pr-3" href="{% url 'profile' %}">ALL</a>
                            {% for test in all_tests %}
                                {% if test == test_type %}
                                <a class="nav-item nav-link testButtonActive pl-3 pr-3" href="{% url 'profile-question-history' test %}">{{ test }}</a>
                                {% else %}
                                <a class="nav-item nav-link testButton pl-3 pr-3" href="{% url 'profile-question-history' test %}">{{ test }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </nav>
                {% for question in questions %}
                    <article class="media content-section">
                    <div class="media-body ml-1 mt-1">
                        <h5><a class="article-title" href="{% url 'question-review' user.username question.copyId %}">{{ question.title }}</a></h2>
                        <img class="article-content" src="{{ question.image.url }}" width="200" height="150">
                        <hr class="mb-3">
                    </div>
                    </article>
                {% endfor %}
                <div>
                    <legend class="border-bottom pb-2 mt-0 mb-2"><a class="btn btn-outline-info btn-md" href="{% url 'full-question-history' test_type %}">See Full {{ test_type }} History</a></legend>
                </div>
            {% else %}
                <hr class="mb-4">
                <legend class="border-bottom mb-4">You haven't answered any questions yet. <a class="text-secondary mb-0" href="{% url 'question-detail' 'SAT' 1 %}">Get Started<a/></legend>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}