{% extends "users/nav_base.html" %}
{% block content %}
<div class="container-fluid">
    <div id="profileJumbotron" class="jumbotron border border-secondary pb-2 pt-2">

        <!-- Profile Header -->
        <div class="content-section">
            <div class="media pt-3 pb-2">
                <img class="rounded-circle account-img pl-3 pr-3 pt-2 pb-1" src="{{ user.profile.image.url }}">
                <div class="media-body ml-2">
                    <h2 class="account-heading pt-1">{{ user.username }}</h2>
                    <p class="text-secondary mb-2">{{ user.email }}</p>
                    <a class="text-secondary mb-0" href="{% url 'profile-update' %}"><i class="fas fa-cog mr-1"></i>Settings</a>
                </div>
            </div>
        </div>

        <!-- Stat Graphics -->
        {{ accuracy|json_script:"accuracy" }}
        {{ test_distribution|json_script:"test_distribution" }}
        {{ subject_distribution|json_script:"subject_distribution" }}
        <div class="content-section d-none d-lg-block pl-3 pr-3">
            <hr class="mb-2">
            <legend class="border-bottom pb-2 mt-0 mb-0">Question History Breakdown</legend>
            <div class="media d-flex justify-content-between pt-2">
                <div id="my-widget" data-view-mode="tabular">
                    <h6>Answer Accuracy</h6>
                    <canvas class="w-33" id="accuracyPieChart"></canvas>
                </div>
                <div class="d-none d-xl-block" id="my-widget" data-view-mode="tabular">
                    <h6>Subject Distribution</h6>
                    <canvas class="w-33" id="subjectDistroPieChart"></canvas>
                </div>
                <div id="my-widget" data-view-mode="tabular">
                    <h6>Test Type Distribution</h6>
                    <canvas class="w-33" id="testDistroPieChart"></canvas>
                </div>
            </div>
            <div align="right">
                <legend class="border-bottom pb-2 pt-2 mt-2 mb-2"><a class="btn btn-outline-info btn-md z-depth-0" href="#">See In-Depth Breakdown</a></legend>
            </div>
        </div>


        <!-- Question History -->
        <div class="container" id="postHistory">
                {% if questions %}
                    <legend class="border-bottom pb-2 mt-2 mb-0">Recently Answered Questions</legend>
                    <!-- Text Type NAVBAR -->
                    <nav class="navbar navbar-expand-sm border-bottom mb-3 pt-0 pl-0 pb-0 z-depth-0">
                            <div>
                                <div class="navbar-nav mr-auto">
                                    <a class="nav-item nav-link testButtonActive pl-3 pr-3" href="{% url 'profile' %}">ALL</a>
                                    <a class="nav-item nav-link testButton pl-3 pr-3" href="{% url 'profile-question-history' 'ACT' %}">ACT</a>
                                    <a class="nav-item nav-link testButton pl-3 pr-3" href="{% url 'profile-question-history' 'SAT' %}">SAT</a>
                                    <a class="nav-item nav-link testButton pl-3 pr-3" href="{% url 'profile-question-history' 'GRE' %}">GRE</a>
                                </div>
                            </div>
                        </nav>

                <!-- List of Questions -->
                {% for question in questions %}
                    <article class="media content-section">
                    <div class="media-body ml-1 mt-1">
                        <h5><a class="article-title" href="{% url 'question-review' user.username question.copyId %}">{{ question.title }}</a></h2>
                        <img class="article-content" src="{{ question.image.url }}" width="200" height="150">
                        <hr class="mb-3">
                    </div>
                    </article>
                {% endfor %}

                <!-- Link to Full Question History -->
                <div align="right">
                    <legend class="border-bottom d-flex justify-content-center pb-2 mt-0 mb-2"><a class="btn btn-outline-info btn-md z-depth-0" href="{% url 'full-question-history' 'ALL' %}">See Full Question History</a></legend>
                </div>

            {% else %}
                <!-- Starting Place -->
                <hr class="mb-4">
                <legend class="border-bottom mb-4">You haven't answered any questions yet. <a class="text-secondary mb-0" href="{% url 'question-detail' 'SAT' 1 %}">Get Started<a/></legend>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}