{% extends "users/user_base.html" %}
{% block content %}
<div class="container mt-0">
    <div id="jumbo1" class="jumbotron border border-secondary pb-0">
        <div class="content-section">
            <div class="media pb-3">
                <img class="rounded-circle account-img pl-3 pr-3" src="{{ user.profile.image.url }}">
                <div class="media-body ml-4">
                    <h2 class="account-heading">{{ user.username }}</h2>
                    <p class="text-secondary mb-2">{{ user.email }}</p>
                    <a class="text-secondary mb-0" href="{% url 'profile-update' %}"><i class="fas fa-cog mr-1"></i>Settings</a>
                </div>
            </div>
        </div>
        <div id="postHistory">
            <!-- Post History -->
            {% if user.profile.questions_answered.last %}
                <legend class="border-bottom mb-4">Question History</legend>
                {% for question in questions_answered %}
                <article class="media content-section">
                <div class="media-body ml-1">
                    <h5><a class="article-title" href="{% url 'question-detail' question.id %}">{{ question.title }}</a></h2>
                    <img class="article-content" src="{{ question.image.url }}" width="200" height="150">
                    <hr class="mb-5">
                </div>
                </article>
                {% endfor %}
            {% else %}
                <legend class="border-bottom mb-4"><a class="text-secondary mb-0" href="/question/8/">You haven't answered any questions yet.<a/></legend>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}