{% extends "home/nav_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-0">
    <div id="profileJumbotron" class="jumbotron border border-secondary pb-0 pt-2">
        <div class="content-section">
            <div class="media pt-3 pb-2">
                <img class="rounded-circle account-img pl-3 pr-3 pt-2 pb-1" src="{{ user.profile.image.url }}">
                <div class="media-body ml-2">
                    <h2 class="account-heading pt-1"><a href="{% url 'profile' 'ALL' %}">{{ user.username }}</a></h2>
                    <p class="text-secondary mb-2">{{ user.email }}</p>
                </div>
            </div>
        </div>
        
        <!-- Profile Update Form -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group border-bottom pb-4">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}