{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        {% if title %}
            <title>HTML Test Prep - {{ title }}</title>
        {% else %}
            <title>HTML Test Prep</title>
        {% endif %}
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'home/secondary.css' %}">
        <link rel="stylesheet" href="{% static 'home/styles.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>

    <body>
        <div class="container-fluid">

            <!--NAVBAR -->
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-secondary">
                {% if user.is_authenticated %}
                    <a class="navbar-brand" href="{% url 'profile' %}">HTML Test Prep</a>
                {% else %}
                    <a class="navbar-brand" href="{% url 'home-homepage' %}">HTML Test Prep</a>
                {% endif %}
                
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                            {% if user.profile.questions_answered.last %}
                                <a class="nav-item nav-link text-light" href="/question/{{ user.profile.questions_answered.last.id|add:1 }}/">New Question</a>
                            {% else %}
                                <a class="nav-item nav-link text-light" href="/question/8/">New Question</a>
                            {% endif %}
                            <a class="nav-item nav-link text-light" href="{% url 'profile' %}">Profile</a>
                            <a class="nav-item nav-link text-light" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <a class="nav-item nav-link text-light" href="{% url 'login' %}">Login</a>
                            <a class="nav-item nav-link text-light" href="{% url 'register' %}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </nav>  
        </div>

        {% block content %}

        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{% static 'home/main.js' %}"></script>
        <script src="https://kit.fontawesome.com/b4461a4f54.js" crossorigin="anonymous"></script>
    </body>
</html>