body {
    background-image: url("https://source.unsplash.com/s9CC2SKySJM");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: white;
  }

#jumbo1 {
    margin-top: 10%;
    opacity: 0.95;
    padding-bottom: 100px;
}

#page2 {
    margin-top: 10%;
    opacity: 0.0;
} 
