body {
    background-image: url("https://source.unsplash.com/QJDzYT_K8Xg");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: white;
  }


.correct {
    color: green;
}

.wrong {
    color: red;
}


#jumbo1 {
    margin-top: 10%;
    opacity: 0.95;
}

#jumbo2 {
    margin-top: 15%;
    opacity: 0.95;
    padding-bottom: 100px;
}

#profileJumbotron {
    margin-top: 65px;
    opacity: 0.96;
}

#page2 {
    margin-top: 10%;
    opacity: 0.0;
} 

#hintBox {
    width: 100%;
    opacity: 0;
}

#resultBox {
    width: 100%;
}

#resultCorrect {
    color: green;
}

#resultIncorrect {
    color: red;
}

#nextPageButton {
    float:right;
    /* opacity: 0; */
}