
/* Full Site */

body {
    background-image: url("https://source.unsplash.com/QJDzYT_K8Xg");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: white;
  }

#jumbo1 {
    margin-top: 10%;
    opacity: 0.95;
}

#jumbo2 {
    /* margin-top: 15%; */
    opacity: 0.95;
    padding-bottom: 100px;
}

#page2 {
    margin-top: 10%;
    opacity: 0.0;
} 





/* Qestion Detail/Result/Review */

#hintBox {
    width: 100%;
    opacity: 0;
}

#resultBox {
    width: 100%;
}

#resultCorrect {
    color: green;
}

#resultIncorrect {
    color: red;
}

#nextPageButton {
    float:right;
    /* opacity: 0; */
}

.correct {
    color: green;
}

.wrong {
    color: red;
}


/* Profile */

#profileJumbotron {
    /* margin-top: 65px; */
    opacity: 0.96;
}

.testButtonActive {
    background: #6c757d;
    color: #e9ecef;
}

.testButtonActive:hover {
    background: #6c757d;
    color: #e9ecef;
}

.testButton {
    background: #e9ecef;
    color: #6c757d;
    transition: 0.1s;
}

.testButton:hover {
    background: #6c757d;
    color: #e9ecef;
    transition: 0.1s;
}



/* nav_base Template */

.content {
    margin-top: 5%;
}

.sidebar-outer {
    margin-top: 5%;
    position: relative;
    height: 80%;
}

.fixed {
    position: fixed;
}

.customNav {
    border-radius: 5px;
    transition: 0s;
}

.customNav:hover {
    background: #6c757d;
    color: #e9ecef;
    transition: 0s;
}



/* About Page */

.pic {
    width: 150px;
    height: 120px;
}